/* 
    Created on : Nov 27, 2015, 7:17:26 AM
    Author     : Seaver
*/

html {
    margin: 0;
    padding: 0;
    background: black;
}

body {
    margin: 0;
    padding: 0;
    background: white;
    /*font: 50% Arial, sans-serif;*/
    font-size: 62.5%;
    font-family: Arial;
    font-style: normal;
}

/*.menubar {
    background-color: lightcoral;
}

.menubarleft {
    float: left;
}
.menubarright {
    float: right;
}*/

#menubar {
    display: table;
    width: 100%;
    background-color: #2cb990;
    
}

.listname {
    display: table-cell;
    text-align: left;
    background-color: lightgreen;
    width: 50%;
    padding-left: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.6em;
    font-weight: bold;
}

/*div:hover .menubarleft {
    background-color: green;
}*/
#listname:hover {
    background-color: #3fa43f;
}

#search {
    /*background-color: teal;*/
    /*width: 20%;*/
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
#search:hover {
    background-color: #168867;
}

#searchbar {
    /*padding-top: 0.4em;
    padding-bottom: 0.4em;*/

    font-size: 1.6em;
}

#options {
    display: table-cell;
    text-align: right;
    background-color: lightblue;
    width: 20%;
    padding-right: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.6em;
    font-weight: bold;
}

#options:hover {
    background-color: #539db5;
}

#content {
    background-color: white;
}

#todo {
    background-color: #005599;
    color: #fff;
    
}

#todo:link {
    color: #99ff99;
}
#todo:visited {
    color: #99ff99;
}
#todo:hover {
    color: #66cc66;
}

#ayy {
    font-size: 10em;
    font-weight: 900;
    font-style: italic;
    text-align: center;
    background-color: black;
    color: hotpink;
}
